/* ===================
    Buttons, Radio buttons
   =================== */

@import 'picnic';

/* ===================
    Theme
   =================== */

.header-container {
    border-bottom: 20px solid $primary-colour-shade;
}

.main aside {
    border-top: 20px solid $primary-colour-shade;
}

.header-container,
.main aside {
    background: $primary-colour;
}

.title {
    color: white;
}

.body-container {
    min-height: 100%;
    background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

form input[type="file"],
form label.radio,
form button {
  display: block;
  margin: 0.25em 0;
}

form input[type="file"],
form button {
  margin: 1.25em 0;
}
