/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

$primary-colour: #f16529;
$primary-colour-shade: #e44d26;
$selection-colour: #b3d4fc;
$font-stack: Helvetica, Helvetica Neue, Arial;
$font-size: 16px;
$line-height: 26px;

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

::-moz-selection {
    background: $selection-colour;
    text-shadow: none;
}

::selection {
    background: $selection-colour;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: $font-size $font-stack;
    line-height: $line-height;
    height: 100%;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Theme
   =================== */

@import 'theme';

/* ==============
    MOBILE
   ============== */

@import 'mobile';

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import 'custom';


/* ==========================================================================
   Media Queries
   ========================================================================== */

@import 'media';

/* ==========================================================================
   Helper classes
   ========================================================================== */

@import 'helper';

/* ==========================================================================
   Print styles
   ========================================================================== */

@import 'print';