<% include common/top %>

    <h1>File Upload</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" multiple>
        <button type="submit" class="primary">Upload</button>
    </form>

    <%
      if (locals.outcome) {
    %>
      <p>Result: <%=outcome%></p>
    <%
      }
    %>

    <aside>
        <h3>Tip</h3>
        <p>Try uploading multiple files at a time.</p>
    </aside>

<% include common/bottom %>