<div class="block">

  <!-- <video id="video_free_clips_3_html5_api" class="vjs-tech" autoplay="" loop="" preload="auto" poster="http://d2bptzq05weps4.cloudfront.net/assets/free_clips/3@2x-a63391a912e39a2296598c9b592cfead.jpg" muted="" src="http://d2bptzq05weps4.cloudfront.net/assets/free_clips/3-c93103bfd7006d5f2008f0583dc1a525.mp4"> -->
      <!-- <source src="http://d2bptzq05weps4.cloudfront.net/assets/free_clips/3-c93103bfd7006d5f2008f0583dc1a525.mp4" type="video/mp4"> -->
      <!-- <source src="http://d2bptzq05weps4.cloudfront.net/assets/free_clips/3-a75b07647b49864f2c45cff479a2ee34.webm" type="video/webm"> -->
  <!-- </video> -->

  <video id="video_free_clips_3_html5_api" class="vjs-tech" autoplay="" loop="" preload="auto"
    poster="../../../img/football1-fallback.jpg" muted="" src="../../../img/football1.mp4">
  </video>

    <div class="centered">
    <!-- If you need title text: a transparent background <div class="centered login-field"> -->
      <title></title>
      <a href="/auth/google"><img id="google-login" src="../../../img/google-login-small.png"></a>
</div>
