
        <script language="JavaScript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script language="JavaScript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
        <script language="JavaScript" type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
        <!-- Somehow bower_components directory is secured when app is deployed to Heroku. Grunt & minification could be a workaround -->
        <!-- // <script language="JavaScript" type="text/javascript" src="../bower_components/underscore/underscore.js"></script> -->
        <!-- // <script language="JavaScript" type="text/javascript" src="../bower_components/backbone/backbone.js"></script> -->
        <!-- // <script language="JavaScript" type="text/javascript" src="../bower_components/handlebars/handlebars.js"></script> -->

        <!-- // <script data-main="js/main" src="../bower_components/requirejs/require.js"></script> -->

        <script src="js/main.js"></script>
    </body>
</html>
