<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title"><a href="/">Hello</a></h1>
        <nav>
            <ul>
                <li><a href="/upload">Upload</a></li>
                <%
                  if (locals.user) {
                %>
                  <li><a href="/logout">Logout</a></li>
                <%
                  } else {
                %>
                  <li><a href="/login">Login</a></li>
                <%
                  }
                %>
            </ul>
        </nav>
    </header>
</div>