<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title"><a href="/admin">Administration</a></h1>
        <nav>
            <ul>
                <li><a href="/upload">Upload</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
</div>